<!-- views/admin/dashboard.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    % include('partials/navbar.html')
    <h2>Selamat datang di Dashboard Admin</h2>
    <ul>
        <li><a href="/admin/users">Manajemen Pengguna</a></li>
        <li><a href="/admin/quiz-questions">Manajemen Kuis</a></li>
        <li><a href="/admin/review-essays">Review Jawaban Essay</a></li>
        <li><a href="/admin/analytics">Analytics</a></li>
    </ul>
</body>
</html>
